@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Red Hat Display", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-blue-gradient {
  background: url("/background.svg");
  background-size: cover;
  background-position: center;
}

.text-bg-blue-gradient-2 {
  background: linear-gradient(
    90deg,
    rgba(79, 61, 254, 1),
    rgba(108, 166, 252, 1)
  );
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.inner-shadow {
  box-shadow: 3px 18px 19px rgba(33, 64, 124, 0.05),
    3px 5px 9px rgba(33, 64, 124, 0.14),
    inset 4px 3px 9px rgba(33, 64, 124, 0.1);
}

.theme-border {
  border: 1px solid rgba(79, 61, 254, 0.26);
}

.dark-gradient {
  background: url("/background2.svg");
  background-size: cover;
  background-position: center;
}

.light-gradient {
  background: url("/background3.svg");
  background-size: cover;
  background-position: center;
}

.newsletter-holder {
  height: 28rem;
}

.newsletter-input::placeholder {
  color: white;
}

.search-input::placeholder {
  color: #0b0a1f;
  opacity: 0.6;
}

.mobile-navbar {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 13px rgba(33, 64, 124, 0.18);
  backdrop-filter: blur(21px);
}

@media (min-width: 1024px) {
  .landing-page {
    min-height: 88vh;
  }
}

@keyframes slideBottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.navitem:hover {
  transform: scale(1.06);
}

#PH:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>")
      16 0,
    auto;
}

#heroimage {
  animation: float 6s ease-in-out infinite;
}

.light-shadow {
  box-shadow: 0px 7px 15px rgba(33, 64, 124, 0.04);
}

.card:hover {
  box-shadow: 0px 7px 15px rgba(33, 64, 124, 0.04);
  transform: scale(1.007);
}

.card:hover .card-holder {
  transform: scale(1.03) rotate(1.1deg);
}

.totop.active {
  animation: fade-in 0.3s ease-in-out;
}

.totop.notactive {
  animation: fade-out 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #21407c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
